
body
{
	padding-top : 6em !important;

}

.header
{
	width: 100%;
	margin : auto;
	display: flex;
	border-bottom: 1px lightgrey solid;
	margin-bottom : 15px;
	justify-content: space-around;


}

.logo img{
	width: 125px;
}
.logo
{
	width: 125px;
}

.jumbotron
{
	margin-bottom : 0 ;
}
.fa {
	text-decoration: none;
	padding: 20px;
	font-size: 2rem;
	width: 30px;
	text-align: center;
	
	border-radius: 50%;
	
 }

 .fa:hover{
	 text-decoration : none;
	 color : white;
	 cursor: pointer;
 }

.container-fluid
{
	padding : 0 !important;

}

.wraper
{
	min-height: 60vh;
	padding: 0;
	margin : 0;
}
