
body
{
	padding-top : 4em !important;

}

.logo img
{
   width: 35px;
}
#headerBlock {
	display: flex;
	justify-content: center;
}

header{
	border-bottom : 1px rgb(222, 226, 230) solid;
	padding-bottom : 7px;
	margin-bottom : 7px;
}


.logo
{
	margin-left: 5px;
	margin-top:  5.88px;
}


.jumbotron
{
	margin-bottom : 0 ;
}
.fa {
	text-decoration: none;
	padding: 20px;
	font-size: 2rem;
	width: 30px;
	text-align: center;
	
	border-radius: 50%;
	
 }

 .fa:hover{
	 text-decoration : none;
	 color : white;
	 cursor: pointer;
 }

.container-fluid
{
	padding : 0 !important;

}

.wraper
{
	min-height: 60vh;
	padding: 0;
	margin : 0;
}
